@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.1;
}

h2 {
    font-size: 32px;
    font-weight: 700;
}

h3 {
    font-size: 27px;
    font-weight: 400;
}

/* Container */

.container {
    margin: 0 auto;
    padding: 0 25px;
    max-width: 1090px;
}

/* Header */

header {
    padding-top: 110px;
    margin-bottom: 100px;

    background-color: #472F88;
    color: #fff;
}

.logo {
    margin-bottom: 10px;
}

h1 {
    margin-bottom: 30px;
    
    font-weight: 700;
    font-size: 50px;
}

.btn_primary {
    display: inline-block;
    width: 100%;
    padding: 12px 24px;

    text-align: center;
    background-color: #fff;
    border-radius: 5px;
}

header a {
    color: #472F88;
}

a:hover {
    background-color: #E72287;
    color:#fff
}

header p, header a {
    margin-bottom: 30px;

}

/* Section 1 */

.section1 h2 {
    margin-bottom: 10px;
}

.section1 {
    margin-bottom: 100px;
    
    text-align: center;
}

.section1 div:not(:last-child) {
    margin-bottom: 50px;
}

/* Section 2 */

.section2 {
    margin-bottom: 100px;
}

.section2 > h2::after {
    content: "";
    display: block;
    width: 100px;
    height: 10px;
    margin: 25px 0 50px 0;

    background-color: #472F88;
    border-radius: 5px;
}

.section2_container div {
    width: 325px;
    height: 337px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: #fff;
}

.section2_img1 {
    background-image: url(./images/pepinieres_d_entreprise.png);
}

.section2_img2 {
    background-image: url(./images/fablab.png);
}

.section2_img3 {
    background-image: url(./images/residents.png);
}

.section2_img4 {
    background-image: url(./images/nos_services.png);
}

.section2_container div:not(:last-child) {
    margin-bottom: 55px;
}

.section2_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Footer  */

footer {
    padding: 50px 0;

    background-color: #472F88;
    color: #fff;
}

footer h3 {
    margin-bottom: 15px;
}

footer .a_text a {
    display: block;
    margin-bottom: 15px;

    font-weight: 300;
}

footer div:not(:last-child) {
    margin-bottom: 68px;
}

footer p {
    line-height: 32px;
}

.reseaux_container {
    display: flex;
    align-items: center;
}

/* Responsive */

@media screen and (min-width: 680px) {

    /* Header */

    .btn_primary {
        width: auto;
    }

    /* Section 1 */
    
    .section1 {
        display: grid;
        grid-template-columns: 310px 310px;
        justify-content: space-evenly;
        align-items: end;
    }

    /* Section 2 */

    .section2_container {
        justify-content: space-evenly;
    }

    /* Footer */

    footer .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

}

@media screen and (min-width: 1024px) {

    /* Section 1 */

    .section1 {
        grid-template-columns: 310px 310px 310px;
    }

    .section1 div:not(:last-child) {
        margin-bottom: 0;
    }

    /* Section 2 */

    .section2_container {
        justify-content: space-between;
    }

    /* Footer */

    footer .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .child_flex-end {
        justify-self: end;
    }
}